.square {
    border: 1px solid black;
}

.square-fill-blue {
    background-color: blue;
}

#main-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}