.square {
    border: 1px solid black;
}

.square-fill-default {
    background-color: blue;
}

#button-container {
    display: flex;
    flex-direction: row;
}

.btn-not-pressed {
    width: auto;
    height: 38px;
    background-color: white;
    color: rgb(72, 84, 197);
    border-radius: 5px;
    text-align: center;
}

.btn-pressed {
    width: auto;
    height: 38px;
    background-color: rgb(72, 84, 197);
    color: white;
    border-radius: 5px;
    text-align: center;
}

#color-picker {
    width: 20px;
    height: 20px;
}

#main-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}